<div class="quoting_tool-tool-items">
    <div class="quoting_tool-tool-items-main">
        <ul class="list list--tabs list--justified m--bottom">
            <li ng-class="{'active': section == SECTIONS.BLOCKS}">
                <a href="" ng-click="showSection(SECTIONS.BLOCKS)">{{ 'Layout' | translate }}</a>
            </li>
        </ul>

        <div class="quoting_tool-tool-items-container" resize>

            <!-- blocks sections-->
            <div class="btn-sq-holder m--bottom" ng-if="section == SECTIONS.BLOCKS">
                <div ng-include="'layouts/vlayout/modules/QuotingTool/resources/js/views/right_panel/content_blocks.html'"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>