<?php
include_once("config.inc.php");
require_once 'include/utils/utils.php';
require_once 'include/utils/CommonUtils.php';
require_once('modules/com_vtiger_workflow/VTEntityCache.inc');
require_once('modules/com_vtiger_workflow/VTWorkflowUtils.php');
require_once 'includes/Loader.php';
vimport('includes.runtime.EntryPoint');
set_time_limit(0);
global $adb, $current_user;

$currentDate = date('Y-m-d H:i:s');

$query = "SELECT vtiger_crmentity.*,
            vtiger_vteemailmarketing_schedule.template_email_id
            FROM vtiger_crmentityrel
            INNER JOIN vtiger_crmentity ON vtiger_crmentityrel.relcrmid = vtiger_crmentity.crmid
            INNER JOIN vtiger_vteemailmarketing_schedule ON vtiger_vteemailmarketing_schedule.vteemailmarketingid = vtiger_crmentityrel.crmid
            WHERE vtiger_crmentityrel.`module` = 'VTEEMailMarketing'
            AND vtiger_crmentityrel.`relmodule` = 'Emails'
            AND vtiger_crmentity.deleted = 0
            AND DATE_ADD(vtiger_crmentity.createdtime, INTERVAL 30 DAY) < ?
            ";
$result = $adb->pquery($query,array($currentDate));
$numrow = $adb->num_rows($result);
for($i = 0 ; $i < $numrow ; $i++){
    $recordId = $adb->query_result($result,$i,'crmid');
    $templateId = $adb->query_result($result,$i,'template_email_id');
    $rsTemplateEmailMarketing = $adb->pquery('SELECT * FROM vtiger_vteemailmarketing_emailtemplate WHERE idtemplate=?',array($templateId));
    $numrow1 = $adb->num_rows($rsTemplateEmailMarketing);
    $thumbnail = $adb->query_result($rsTemplateEmailMarketing,0,'thumbnail');
    if($numrow1 > 0 && $thumbnail){
        $descriptionImage = "<img src=\"$thumbnail\" alt=\"Archived Email\" />";
        $adb->pquery('UPDATE vtiger_crmentity SET description = ? WHERE crmid = ?',array($descriptionImage,$recordId));
    }
}