<div class="content-container quoting_tool-draggable ui-resizable"
     data-id="layouts/v7/modules/QuotingTool/resources/js/views/widgets/date_signed.html" style="margin-left: 110px;">
    <div class="content-editable widget__ui">
        <div name="date_signed" title="Date Signed" class="date_signed" style="background-color: #ffe592;margin-top: 11px;">Date signed</div>
    </div>
    <div class="quoting_tool-btn-options quoting_tool-btn-right-options">
        <div class="doc-block__control btn--block-control btn--block-control-del quoting_tool-btn-options-item"
             ng-show="app.data.widgets.date.layout.enable_remove"
             ng-click="remove($event)">
            <i class="icon-trash"></i>
        </div>
    </div>
</div>