<div class="content-container block-handle"
     data-id="layouts/vlayout/modules/QuotingTool/resources/js/views/blocks/portfolio3x2.html">
    <div class="content-editable">
        <div contenteditable="true">
            <div class="quoting_tool-cke-keep-element">
                <table  style="width: 100%" data-info="1" class="quoting_tool-cke-keep-element">
                    <tbody>
                    <tr>
                        <td style="text-align: center;padding: 0px">
                            <table class="quoting_tool-cke-keep-element" style="width: 100%">
                                <tbody>
                                <tr class="tr-last">
                                    <td width="33%" valign="top" class="td-last" style="text-align: center;padding: 0 0 26px 0">
                                        <table class="quoting_tool-cke-keep-element" style="width: 100%">
                                            <tr>
                                                <td style="text-align: center;padding: 0px" class="quoting_tool-cke-keep-element"><img  style="width: 191px;height: 150px;max-height: 150px;max-width: 191px;min-width: 191px; min-height: 150px"
                                                                                                                                        src="modules/QuotingTool/resources/images/portfolio3x2-1.jpg" alt=""></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="33%" valign="top" class="td-last" style="text-align: center;padding:0 0 26px 0">
                                        <table class="quoting_tool-cke-keep-element" style="width: 100%">
                                            <tr>
                                                <td style="text-align: center;padding: 0px" class="quoting_tool-cke-keep-element"><img  style="width: 191px;height: 150px;max-height: 150px;max-width: 191px;min-width: 191px; min-height: 150px"
                                                                                                                                        src="modules/QuotingTool/resources/images/portfolio3x2-2.jpg" alt=""></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="33%" valign="top" class="td-last" style="text-align: center;padding: 0 0 26px 0">
                                        <table class="quoting_tool-cke-keep-element" style="width: 100%">
                                            <tr>
                                                <td style="text-align: center;padding: 0px" class="quoting_tool-cke-keep-element"><img  style="width: 191px;height: 150px;max-height: 150px;max-width: 191px;min-width: 191px; min-height: 150px"
                                                                                                                                        src="modules/QuotingTool/resources/images/portfolio3x2-3.jpg" alt=""></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;padding: 0px">
                            <table class="quoting_tool-cke-keep-element" style="width: 100%">
                                <tbody>
                                <tr class="tr-last">
                                    <td width="33%" valign="top" class="td-last" style="text-align: center;padding: 0 0 26px 0">
                                        <table class="quoting_tool-cke-keep-element" style="width: 100%">
                                            <tr>
                                                <td style="text-align: center;padding: 0px" class="quoting_tool-cke-keep-element"><img  style="width: 191px;height: 150px;max-height: 150px;max-width: 191px;min-width: 191px; min-height: 150px"
                                                                                                                                        src="modules/QuotingTool/resources/images/portfolio3x2-4.jpg" alt=""></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="33%" valign="top" class="td-last" style="text-align: center;padding: 0 0 26px 0">
                                        <table class="quoting_tool-cke-keep-element" style="width: 100%">
                                            <tr>
                                                <td style="text-align: center;padding: 0px" class="quoting_tool-cke-keep-element"><img  style="width: 191px;height: 150px;max-height: 150px;max-width: 191px;min-width: 191px; min-height: 150px"
                                                                                                                                        src="modules/QuotingTool/resources/images/portfolio3x2-5.jpg" alt=""></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="33%" valign="top" class="td-last" style="text-align: center;padding: 0 0 26px 0">
                                        <table class="quoting_tool-cke-keep-element" style="width: 100%">
                                            <tr>
                                                <td style="text-align: center;padding: 0px" class="quoting_tool-cke-keep-element"><img  style="width: 191px;height: 150px;max-height: 150px;max-width: 191px;min-width: 191px; min-height: 150px"
                                                                                                                                        src="modules/QuotingTool/resources/images/portfolio3x2-6.jpg" alt=""></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>

                    </tbody>

                </table>
            </div>

        </div>
        <div class="clear">&nbsp;</div>
    </div>

    <div class="quoting_tool-btn-options quoting_tool-btn-left-options">
        <div class="doc-block__control btn--block-control doc-block__control--drag quoting_tool-btn-options-item"
             ng-show="app.data.blocks.portfolio3x2.layout.enable_move">
            <i class="icon-align-justify"></i>
        </div>
    </div>

    <div class="quoting_tool-btn-options quoting_tool-btn-right-options">
        <div class="doc-block__control btn--block-control btn--block-control-del quoting_tool-btn-options-item"
             ng-show="app.data.blocks.portfolio3x2.layout.enable_remove"
             ng-click="remove($event)">
            <i class="icon-trash"></i>
        </div>
    </div>
</div>