<div class="content-container block-handle"
     data-id="layouts/vlayout/modules/QuotingTool/resources/js/views/blocks/pricing_plans_triple.html">
    <div class="content-editable">
        <div contenteditable="true">
            <div class="quoting_tool-cke-keep-element">
                <table  style="width: 100%" data-info="1" class="quoting_tool-cke-keep-element">
                    <tbody>
                    <tr>
                        <td style="text-align: center;padding: 0px">
                            <table class="quoting_tool-cke-keep-element" style="width: 100%">
                                <tbody>
                                <tr class="tr-last">
                                    <td valign="top" class="td-last" style="text-align: center;width: 33%;padding: 10px">
                                        <table class="quoting_tool-cke-keep-element" style="width: 100%;border: 2px solid grey;border-collapse: collapse">

                                            <tr style="border: 2px solid grey">
                                                <td style="border: 2px solid grey;max-width: 100%">
                                                    <p class="quoting_tool-cke-keep-element">
                                                        &nbsp;<br>&nbsp;
                                                    </p>
                                                    <p class="quoting_tool-cke-keep-element" style="font-size: 26px">
                                                            <strong>Starter</strong>

                                                    </p><br>
                                                    <p style="margin: 0px" class="quoting_tool-cke-keep-element">
                                                        &nbsp;<br>&nbsp;
                                                    </p>
                                                    <p class="quoting_tool-cke-keep-element">
                                                            <span style="font-size: 24px;color: #0b5b98">$9</span>
                                                            <span style="font-size: 14px">p/month</span>

                                                    </p>   <br>
                                                    <p style="margin: 0px" class="quoting_tool-cke-keep-element">
                                                        &nbsp;<br>&nbsp;
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr style="border: 2px solid grey">
                                                <td style="max-width: 100%;border: 2px solid grey">
                                                    <p class="quoting_tool-cke-keep-element">
                                                        &nbsp;<br>&nbsp;
                                                    </p>
                                                    <p style="font-size: 15px" class="quoting_tool-cke-keep-element" >
                                                        <strong>2GB</strong> of space
                                                    </p>
                                                    <br>
                                                    <p style="font-size: 15px" class="quoting_tool-cke-keep-element">
                                                        <strong>2000</strong> messages

                                                    </p><br>
                                                    <p style="font-size: 15px" class="quoting_tool-cke-keep-element">
                                                        <strong>3</strong> user accounts

                                                    </p>  <br>
                                                    <p style="font-size: 15px" class="quoting_tool-cke-keep-element">
                                                        <strong>2</strong> databases

                                                    </p> <br>
                                                    <p style="font-size: 15px" class="quoting_tool-cke-keep-element">
                                                        unlimited updates

                                                    </p> <br>
                                                    <p class="quoting_tool-cke-keep-element">
                                                        &nbsp;<br>&nbsp;
                                                    </p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td valign="top" class="td-last" style="text-align: center;width: 33%;padding: 10px">
                                        <table class="quoting_tool-cke-keep-element" style="width: 100%;border: 2px solid grey;border-collapse: collapse">
                                            <tr style="border: 2px solid grey">
                                                <td style="max-width: 100%;border: 2px solid grey">
                                                    <p class="quoting_tool-cke-keep-element">
                                                        &nbsp;<br>&nbsp;
                                                    </p>
                                                    <p class="quoting_tool-cke-keep-element" style="font-size: 26px">
                                                        <strong>Intermediate</strong>

                                                    </p> <br>
                                                    <p style="margin: 0px" class="quoting_tool-cke-keep-element">
                                                        &nbsp;<br>&nbsp;
                                                    </p>
                                                    <p class="quoting_tool-cke-keep-element">
                                                        <span style="font-size: 24px;color: #0b5b98">$29</span>
                                                        <span style="font-size: 14px">p/month</span>

                                                    </p> <br>
                                                    <p style="margin: 0px" class="quoting_tool-cke-keep-element">
                                                        &nbsp;<br>&nbsp;
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr style="border: 2px solid grey">
                                                <td style="max-width: 100%;border: 2px solid grey">
                                                    <p class="quoting_tool-cke-keep-element">
                                                        &nbsp;<br>&nbsp;
                                                    </p>
                                                    <p style="font-size: 15px" class="quoting_tool-cke-keep-element">
                                                        <strong>10GB</strong> of space

                                                    </p> <br>
                                                    <p style="font-size: 15px" class="quoting_tool-cke-keep-element">
                                                        <strong>10000</strong> messages

                                                    </p> <br>
                                                    <p style="font-size: 15px" class="quoting_tool-cke-keep-element">
                                                        <strong>20</strong> user accounts

                                                    </p><br>
                                                    <p style="font-size: 15px" class="quoting_tool-cke-keep-element">
                                                        <strong>10</strong> databases

                                                    </p>   <br>
                                                    <p style="font-size: 15px" class="quoting_tool-cke-keep-element" >
                                                        unlimited updates

                                                    </p> <br>
                                                    <p style="font-size: 15px" class="quoting_tool-cke-keep-element">
                                                        &nbsp;<br>&nbsp;
                                                    </p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td valign="top" class="td-last" style="text-align: center;width: 33%;padding: 10px">
                                        <table class="quoting_tool-cke-keep-element" style="width: 100%;border: 2px solid grey;border-collapse: collapse">
                                            <tr style="border: 2px solid grey;">
                                                <td style="max-width: 100%;border: 2px solid grey">
                                                    <p class="quoting_tool-cke-keep-element">
                                                        &nbsp;<br>&nbsp;
                                                    </p>
                                                    <p class="quoting_tool-cke-keep-element" style="font-size: 26px">
                                                        <strong>Advanced</strong>

                                                    </p> <br>
                                                    <p style="margin: 0px" class="quoting_tool-cke-keep-element">
                                                        &nbsp;<br>&nbsp;
                                                    </p>
                                                    <p class="quoting_tool-cke-keep-element">
                                                        <span style="font-size: 24px;color: #0b5b98">$99</span>
                                                        <span style="font-size: 14px">p/month</span>

                                                    </p>  <br>
                                                    <p style="margin: 0px" class="quoting_tool-cke-keep-element">
                                                        &nbsp;<br>&nbsp;
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr style="border: 2px solid grey">
                                                <td style="max-width: 100%;border: 2px solid grey">
                                                    <p class="quoting_tool-cke-keep-element">
                                                        &nbsp;<br>&nbsp;
                                                    </p>
                                                    <p style="font-size: 15px" class="quoting_tool-cke-keep-element" >
                                                        <strong>100GB</strong> of space

                                                    </p> <br>
                                                    <p style="font-size: 15px" class="quoting_tool-cke-keep-element">
                                                        <strong>unlimited</strong> messages

                                                    </p><br>
                                                    <p style="font-size: 15px" class="quoting_tool-cke-keep-element">
                                                        <strong>unlimited</strong> user accounts

                                                    </p><br>
                                                    <p style="font-size: 15px" class="quoting_tool-cke-keep-element">
                                                        <strong>100</strong> databases

                                                    </p><br>
                                                    <p style="font-size: 15px" class="quoting_tool-cke-keep-element">
                                                        unlimited updates

                                                    </p><br>
                                                    <p class="quoting_tool-cke-keep-element">
                                                        &nbsp;<br>&nbsp;
                                                    </p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>

                    </tr>

                    </tbody>

                </table>
            </div>

        </div>
        <div class="clear">&nbsp;</div>
    </div>

    <div class="quoting_tool-btn-options quoting_tool-btn-left-options">
        <div class="doc-block__control btn--block-control doc-block__control--drag quoting_tool-btn-options-item"
             ng-show="app.data.blocks.pricing_plans_triple.layout.enable_move">
            <i class="icon-align-justify"></i>
        </div>
    </div>

    <div class="quoting_tool-btn-options quoting_tool-btn-right-options">
        <div class="doc-block__control btn--block-control btn--block-control-del quoting_tool-btn-options-item"
             ng-show="app.data.blocks.pricing_plans_triple.layout.enable_remove"
             ng-click="remove($event)">
            <i class="icon-trash"></i>
        </div>
    </div>
</div>