<div class="content-container block-handle"
     data-id="layouts/v7/modules/QuotingTool/resources/js/views/blocks/bill_ship.html">
    <div class="content-editable">
        <div contenteditable="true">
            <div class="quoting_tool-cke-keep-element">
                <table  style="width: 100%" data-info="1" class="quoting_tool-cke-keep-element">
                    <tbody>
                    <tr>
                        <th width="33%" class="quoting_tool-cke-keep-element" style="text-align: left">
                            BILL TO
                        </th>
                        <th width="33%" class="quoting_tool-cke-keep-element" style="text-align: left">
                            SHIP TO
                        </th>
                        <th valign="top" width="33%" rowspan="2" class="quoting_tool-cke-keep-element" style="text-align: left" colspan="2">
                            INVOICE
                        </th>
                    </tr>
                    <tr>
                        <td width="33%" class="quoting_tool-cke-keep-element">
                            Mr.Smith
                        </td>
                        <td width="33%" class="quoting_tool-cke-keep-element">
                            Mr.Smith
                        </td>
                    </tr>
                    <tr>
                        <td width="33%" class="quoting_tool-cke-keep-element">
                            2 Count Square
                        </td>
                        <td width="33%" class="quoting_tool-cke-keep-element">
                            684 L.Averue
                        </td>
                        <th width="17%" class="quoting_tool-cke-keep-element" style="text-align: left">
                            INVOICE DATE
                        </th>
                        <td width="17%" class="quoting_tool-cke-keep-element">
                            03/05/2018
                        </td>
                    </tr>
                    <tr>
                        <td width="33%" class="quoting_tool-cke-keep-element">
                            Long IsLand City
                        </td>
                        <td width="33%" class="quoting_tool-cke-keep-element">
                            6th Floor
                        </td>
                        <th width="17%" class="quoting_tool-cke-keep-element" style="text-align: left">
                            P.O #
                        </th>
                        <td width="17%" class="quoting_tool-cke-keep-element">
                            1742/2018
                        </td>
                    </tr>
                    <tr>
                        <td width="33%" class="quoting_tool-cke-keep-element">New York, NY 1120</td>
                        <td width="33%" class="quoting_tool-cke-keep-element">New York, NY 1122</td>
                        <th width="17%" class="quoting_tool-cke-keep-element" style="text-align: left">DUE DATE</th>
                        <td width="17%" class="quoting_tool-cke-keep-element">04/09/2018</td>
                    </tr>
                    </tbody>

                </table>
            </div>

        </div>
        <div class="clear">&nbsp;</div>
    </div>

    <div class="quoting_tool-btn-options quoting_tool-btn-left-options">
        <div class="doc-block__control btn--block-control doc-block__control--drag quoting_tool-btn-options-item"
             ng-show="app.data.blocks.bill_ship.layout.enable_move">
            <i class="icon-align-justify"></i>
        </div>
    </div>

    <div class="quoting_tool-btn-options quoting_tool-btn-right-options">
        <div class="doc-block__control btn--block-control btn--block-control-del quoting_tool-btn-options-item"
             ng-show="app.data.blocks.bill_ship.layout.enable_remove"
             ng-click="remove($event)">
            <i class="icon-trash"></i>
        </div>
    </div>
</div>