<div class="content-container block-handle"
     data-id="layouts/v7/modules/QuotingTool/resources/js/views/blocks/feature_right.html">
    <div class="content-editable">
        <div contenteditable="true">
            <div class="quoting_tool-cke-keep-element">
                <table  style="width: 100%" data-info="1" class="quoting_tool-cke-keep-element">
                    <tbody>
                    <tr style="padding: 0px">
                        <td style="padding: 0px">
                            <table class="quoting_tool-cke-keep-element" style="width: 100%;padding: 0px">
                                <tbody>
                                <tr style="padding: 0px" class="tr-last">
                                    <td style="padding: 0px" class="quoting_tool-cke-keep-element" valign="top" class="td-last">
                                        <table class="quoting_tool-cke-keep-element" style="width: 100%;padding: 0px">

                                            <tr style="padding: 0px">
                                                <td style="padding: 0px;flex-basis: 50%" width="50%"><img  style="width: 338px;height: 250px;max-height: 250px;max-width: 338px;"
                                                          src="modules/QuotingTool/resources/images/right.jpg" alt="">
                                                </td>
                                                <td style="padding: 0px;flex-basis: 50%" width="50%">
                                                    <table style="width: 100%;">
                                                        <tr>
                                                            <td class="quoting_tool-cke-keep-element"><p style="font-size: 26px;padding-left: 20px">Header text</p></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="quoting_tool-cke-keep-element">
                                                                <p style="padding-left: 20px">Text goes here.. Text goes here.. Text goes here.. Text goes here.. Text goes here.. Text goes here.. Text goes here..</p>
                                                                <p style="padding-left: 20px">Text goes here.. Text goes here.. Text goes here.. Text goes here..</p>
                                                            </td>
                                                        </tr>
                                                    </table>

                                                </td>
                                            </tr>
                                        </table>

                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>

                    </tbody>

                </table>
            </div>

        </div>
        <div class="clear">&nbsp;</div>
    </div>

    <div class="quoting_tool-btn-options quoting_tool-btn-left-options">
        <div class="doc-block__control btn--block-control doc-block__control--drag quoting_tool-btn-options-item"
             ng-show="app.data.blocks.feature_right.layout.enable_move">
            <i class="icon-align-justify"></i>
        </div>
    </div>

    <div class="quoting_tool-btn-options quoting_tool-btn-right-options">
        <div class="doc-block__control btn--block-control btn--block-control-del quoting_tool-btn-options-item"
             ng-show="app.data.blocks.feature_right.layout.enable_remove"
             ng-click="remove($event)">
            <i class="icon-trash"></i>
        </div>
    </div>
</div>