<div class="content-container block-handle"
     data-id="layouts/v7/modules/QuotingTool/resources/js/views/blocks/image_box3.html">
    <div class="content-editable">
        <div contenteditable="true">
            <div class="quoting_tool-cke-keep-element">
                <table  style="margin-left: 5%;width: 90%" data-info="1" class="quoting_tool-cke-keep-element">
                    <tbody>
                    <tr>
                        <td style="text-align: center">
                            <table class="quoting_tool-cke-keep-element" style="width: 100%">
                                <tbody>
                                <tr class="tr-last">
                                    <td valign="top" class="td-last" style="text-align: center;max-width: 191px">
                                        <table class="quoting_tool-cke-keep-element" style="width: 100%">
                                            <tr>
                                                <td><img  style="width: 191px;height: 150px;max-height: 150px;max-width: 191px;min-width: 191px;min-height: 150px"
                                                          src="modules/QuotingTool/resources/images/imagebox4.jpg" alt=""></td>
                                            </tr>
                                            <tr height="20px">
                                                <td style="max-width: 100%"><p class="quoting_tool-cke-keep-element" style="max-width: 100%"><b style="font-size: 20px" class="quoting_tool-cke-keep-element" >Header text...</b> </p></td>
                                            </tr>
                                            <tr height="20px">
                                                <td style="max-width: 100%"><p class="quoting_tool-cke-keep-element" style="max-width: 100%">Text goes here... Text goes here...Text goes here...Text goes here...</p></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td valign="top" class="td-last" style="text-align: center;max-width: 191px">
                                        <table class="quoting_tool-cke-keep-element" style="width: 100%">
                                            <tr>
                                                <td><img  style="width: 191px;height: 150px;max-height: 150px;max-width: 191px;min-width: 191px;min-height: 150px"
                                                          src="modules/QuotingTool/resources/images/imagebox5.jpg" alt=""></td>
                                            </tr>
                                            <tr height="20px">
                                                <td style="max-width: 100%"><p class="quoting_tool-cke-keep-element" style="max-width: 100%"><b style="font-size: 20px" class="quoting_tool-cke-keep-element" >Header text...</b> </p></td>
                                            </tr>
                                            <tr height="20px">
                                                <td style="max-width: 100%"><p class="quoting_tool-cke-keep-element" style="max-width: 100%">Text goes here... Text goes here...Text goes here...Text goes here...</p></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td valign="top" class="td-last" style="text-align: center;max-width: 191px">
                                        <table class="quoting_tool-cke-keep-element" style="width: 100%">
                                            <tr>
                                                <td><img  style="width: 191px;height: 150px;max-height: 150px;max-width: 191px;min-width: 191px;min-height: 150px"
                                                          src="modules/QuotingTool/resources/images/imagebox6.jpg" alt=""></td>
                                            </tr>
                                            <tr height="20px">
                                                <td style="max-width: 100%"><p class="quoting_tool-cke-keep-element" style="max-width: 100%"><b style="font-size: 20px" class="quoting_tool-cke-keep-element" >Header text...</b> </p></td>
                                            </tr>
                                            <tr height="20px">
                                                <td style="max-width: 100%"><p class="quoting_tool-cke-keep-element" style="max-width: 100%">Text goes here... Text goes here...Text goes here...Text goes here...</p></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>

                    </tr>

                    </tbody>

                </table>
            </div>

        </div>
        <div class="clear">&nbsp;</div>
    </div>

    <div class="quoting_tool-btn-options quoting_tool-btn-left-options">
        <div class="doc-block__control btn--block-control doc-block__control--drag quoting_tool-btn-options-item"
             ng-show="app.data.blocks.image_box3.layout.enable_move">
            <i class="icon-align-justify"></i>
        </div>
    </div>

    <div class="quoting_tool-btn-options quoting_tool-btn-right-options">
        <div class="doc-block__control btn--block-control btn--block-control-del quoting_tool-btn-options-item"
             ng-show="app.data.blocks.image_box3.layout.enable_remove"
             ng-click="remove($event)">
            <i class="icon-trash"></i>
        </div>
    </div>
</div>